.slider {
    position: relative;
    height: 40vh;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        width: 700px;
        height: 400px;
        border-radius: 10px;
    }

    .right-arrow {
        display: flex;
        position: absolute;
        top: 50%;
        right: 0px;
        font-size: 3rem;
        color: black;
        z-index: 10;
        cursor: pointer;
        border-radius: 55%;
        border: none;
        width: fit-content;
    }

    .left-arrow {
        display: flex;
        position: absolute;
        top: 50%;
        left: 0px;
        font-size: 3rem;
        color: black;
        z-index: 10;
        cursor: pointer;
    }
}